@model History_of_repair

<div class="card shadow border-0 mt-5">
    <div class="card-header bg-primary bg-gradient ml-0 py-2">
        <div class="row">
            <div class="col-12 text-center">
                <h3 class="text-white py-2"> @(Model.history_id != 0 ? "Обновление" : "Добавление") истории заявки</h3>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row">
            <input asp-for="history_id" hidden />
            <input asp-for="Request_for_repair_of_history_of_repair" hidden />
            <input asp-for="request_id" hidden />
            <div class="border p-3">
                <div asp-validation-summary="All"></div>
                <div class="py-2 col-12">
                    <label asp-for="Request_for_repair_of_history_of_repair.datetime_of_request" class="form-label ms-2">Дата и время создания заявки</label>
                    <input asp-for="Request_for_repair_of_history_of_repair.datetime_of_request"  class="form-control border-1 shadow"  readonly />
                </div>
                <div class="py-2 col-12">
                    <label asp-for="date_start" class="form-label mt-4 ms-2">Дата начала работ</label>
                    <input asp-for="date_start" autocomplete="off" class="form-control border-0 shadow" placeholder="Дата начала работ" />
                    <span asp-validation-for="date_start" class="text-danger"></span>
                </div>
                <div class="py-2 col-12">
                    <label asp-for="date_end" class="form-label mt-4 ms-2">Дата конца работ</label>
                    <input asp-for="date_end" autocomplete="off" class="form-control border-0 shadow mb-4" placeholder="Дата конца работ" />
                    <span asp-validation-for="date_end" class="text-danger"></span>
                </div>
                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        @if (Model.history_id != 0)
                        {
                            <button type="submit" class="btn btn-outline-success border form-control"><i class="bi bi-pencil-fill"></i>&nbsp; Обновить</button>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-outline-success border form-control"><i class="bi bi-plus-square"></i> &nbsp; Добавить</button>
                        }
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="HistoryOfRepair" asp-action="Index" class="btn btn-outline-danger border form-control">
                            <i class="bi bi-arrow-bar-left"></i> &nbsp;Назад к списку
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons  lists   table visualblocks wordcount',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough |  align lineheight | numlist bullist indent outdent',
        });
    </script>
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}








