<dvi class="col-8">
    <h2 class="text-black text-opacity-25 text-center pt-5">N&nbsp;A&nbsp;V&nbsp;I&nbsp;G&nbsp;A&nbsp;T&nbsp;I&nbsp;O&nbsp;N</h2>
</dvi>
<dvi class="col-2">
</dvi>

<div class="container-fluid center-grid">
    <div class="row mx-auto mt-5 mb-5">
        <div class="col-lg-3 text-center">
            <a asp-controller="Manufacturer" asp-action="Index" class="btn btn-primary btn-lg btn-block form-control">
                <i class="bi bi-gear"></i>&nbsp&nbspПроизводители
            </a>
        </div>

        <div class="col-lg-3 text-center">
            <a asp-controller="PhoneModel" asp-action="Index" class="btn btn-primary btn-lg btn-block form-control">
                <i class="bi bi-phone"></i>&nbsp&nbspМодели телефонов
            </a>
        </div>

        <div class="col-lg-3 text-center">
            <a asp-controller="OperatingSystem" asp-action="Index" class="btn btn-primary btn-lg btn-block form-control">
                <i class="bi bi-gear-wide-connected"></i></i>&nbsp&nbspОперационные системы
            </a>
        </div>

        <div class="col-lg-3 text-center">
            <a asp-controller="Cpu" asp-action="Index" class="btn btn-primary btn-lg btn-block form-control">
                <i class="bi bi-cpu"></i>&nbsp&nbspПроцессоры
            </a>
        </div>
    </div>

    <div class="row mx-auto mt-5 mb-5">
        <div class="col-lg-3 text-center">
            <a asp-controller="PhoneSpecification" asp-action="Index" class="btn btn-primary btn-lg btn-block form-control">
                <i class="bi bi-card-checklist"></i>&nbsp&nbspСпецификации
            </a>
        </div>

        <div class="col-lg-3 text-center">
            <button type="button" class="btn btn-primary btn-lg btn-block form-control"><i class="bi bi-question-diamond"></i>&nbsp&nbspЗаявки на ремонт</button>
        </div>

        <div class="col-lg-3 text-center">
            <button type="button" class="btn btn-primary btn-lg btn-block form-control"><i class="bi bi-clock-history"></i>&nbsp&nbspИстории заявок</button>
        </div>

        <div class="col-lg-3 text-center">
            <button type="button" class="btn btn-primary btn-lg btn-block form-control"><i class="bi bi-person-check"></i>&nbsp&nbspКлиенты</button>
        </div>
    </div>

    <div class="row mx-auto text-center">
        <div class="col-lg-4">
            <button type="button" class="btn btn-primary btn-lg btn-block form-control"><i class="bi bi-book"></i> &nbsp&nbspУслуги по ремонту</button>
        </div>

        <div class="col-lg-4 text-center">
            <button type="button" class="btn btn-primary btn-lg btn-block form-control"><i class="bi bi-person-gear"></i>&nbsp&nbspСпециалисты</button>
        </div>

        <div class="col-lg-4 text-center">
            <button type="button" class="btn btn-primary btn-lg btn-block form-control"><i class="bi bi-tools"></i>&nbsp&nbspСервисные центры</button>
        </div>
    </div>
</div>
